.outer {
    display: flex;
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
}

.login-form {
    min-width: 150px;
    max-width: 450px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 48px 40px 36px;
}

.rounded {
    border-radius: 8px;
}

.full-width {
    width: 100%;
}

.buttondiv {
    padding-top: 10px;
    text-align: right;
}

.actionbutton {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
}
  