<!-- This is intended to be a fullscreen component - ie it fills up the entire viewport -->
<div class="outer">
  <div class="login-container" class="login-form">
    <!-- This image is just a placeholder, we can replace it whenever -->
    <img class="full-width rounded" src="/assets/img/thanos.jpg">
  <h1>Ticket to Ride: End Game</h1>
    <p>Welcome!</p>
    <p>Please login to get started</p>
    <form [formGroup]="loginForm" id="login_form" (ngSubmit)="onLogin()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Username" formControlName="username" required>
        <mat-error *ngIf="loginForm.get('username').invalid">{{getHumanReadableErrors('username')}}</mat-error>
        <mat-hint align="end">{{loginForm.get('username').value.length}} / 16</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Password" formControlName="password" required>
        <mat-error *ngIf="loginForm.get('password').invalid">{{getHumanReadableErrors('password')}}</mat-error>
      </mat-form-field>
    </form>
  
    <div class="buttondiv">
      <button mat-raised-button 
          [disabled]="!loginForm.valid"
          (click)="onRegister()"
          class="actionbutton" 
          color="accent">Register</button>

      <!-- Bind the login button to the form-->
      <button mat-raised-button 
          [disabled]="!loginForm.valid"
          type="submit" 
          form="login_form"  
          class="actionbutton" 
          color="primary">Login</button>
    </div>
  </div>  
</div>
