<!-- This is intended to be a fullscreen component - ie it fills up the entire viewport -->
<div class="outer">
  <div class="login-container" class="login-form">
    <!-- This image is just a placeholder, we can replace it whenever -->
    <img class="full-width rounded" src="/assets/img/thanos.jpg">
  <h1>Welcome to Mary Lou!</h1>
    <p>Please login to get started</p>
    <mat-form-field class="full-width">
      <input matInput placeholder="Username" [formControl]="username" required>
      <mat-error *ngIf="username.invalid">{{getUsernameError()}}</mat-error>
      <mat-hint align="end">{{username.value.length}} / 16</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="Password" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
    </mat-form-field>
    <div class="buttondiv">
        <button mat-raised-button class ="actionbutton" color="accent">Register</button>
        <button mat-raised-button class ="actionbutton" color="primary">Login</button>
    </div>
  </div>  
</div>
