

.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.shard-card{
    height: 40px;
    width: 35px;
    padding: 5px;
}
.shard-box{
    text-align: center;
    vertical-align: middle;
}

.shard-icon{
    height: 35px;
}
.shard-cell{
    height: 33%;
    width: 20%;
}

.inline{
  display: inline-block;
}
.destination-deck{
    text-align: center;
    width: 50%;
    height: 66%;
}
.shard-card-deck{
    text-align: center;
    width: 50%;
    height: 66%;
}

.deck-text{

}
