.bank-box{
    margin-top: 10px;
    height: calc(100% - 10px);
}

.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.shard-card{
    height: 40px;
    width: 35px;
    padding: 5px;
}
.deck-card{
    height: 60px;
    width: 50px;
    padding: 5px;
}
.dest-card{
    height: 60px;
    width: 100px;
    padding: 5px;
}
.shard-box{
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
}

.shard-icon{
    height: 35px;
}
.deck-icon{
    height: 50px;
}
.shard-cell{
    height: 33%;
    width: 20%;
}

.inline{
  display: inline-block;
}
.destination-deck{
    text-align: center;
    width: 50%;
    height: 66%;
}
.decks-box{
    text-align: center;
    vertical-align: middle;
    display: flex;
}
.shard-card-deck{
    text-align: center;
    width: 50%;
    height: 66%;
}
p{
    font-size: 2.5vh;
}

.deck-text{
    text-align: center;
    width: 50%;
    height: 66%;
}
.bank-text{
    text-align: center;
    margin: 15px;
}
