<div class="bank-box full-width">
  <div class="shard-box">
    <div class="shard-cell inline" *ngFor="let shard of cardService.faceUpShardCards.cards">
      <mat-card class="shard-card inline" (click)="faceUpShardCardClick(shard)">
        <img class="shard-icon" src="assets/img/shards/{{shard.getImage()">
      </mat-card>
    </div>
  </div>
  <div class="decks-box">
    <div class="shard-card-deck">
        <p>Shard Card Deck</p>
        <div class="inline">
          <mat-card 
            class="deck-card inline" 
            (click)="shardCardDeckClick()" 
            matBadge="{{cardService.shardCardDeckSize}}">
            <img class="deck-icon" src="assets/img/shards/shard_circle.svg">
          </mat-card>
        </div>
    </div>
    <div class="destination-deck">
      <p>Destination Deck</p>
        <div class="inline">
          <mat-card 
            class="dest-card inline" 
            matBadge="{{cardService.destCardDeckSize}}"
            (click)="destCardDeckClick()">
            <img class="deck-icon" src="assets/img/shards/route_map.svg">
          </mat-card>
    </div>
  </div>
</div>