.bank-box{
    margin-top: 10px;
}

.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.shard-card{
    height: 40px;
    width: 35px;
    padding: 5px;
}
.shard-box{
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
}

.shard-icon{
    height: 35px;
}
.shard-cell{
    height: 33%;
    width: 20%;
}

.inline{
  display: inline-block;
}
.destination-deck{
    text-align: center;
    background-color: aqua;
    width: 50%;
    height: 66%;
}
.decks-box{
    text-align: center;
    vertical-align: middle;
    display: flex;
}
.shard-card-deck{
    background-color: bisque;
    text-align: center;
    width: 50%;
    height: 66%;
}
p{
    font-size: 2.5vh;
}

.deck-text{
    text-align: center;
    width: 50%;
    height: 66%;
}
