

.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.shard-card{
    height: 40px;
    width: 35px;
    padding: 5px;
}
.shard-box{
    text-align: center;
    vertical-align: middle;
}

.shard-icon{
    height: 35px;
}
.shard-cell{
    height: 33%;
    width: 20%;
}

.inline{
  display: inline-block;
}
.decstination-deck{
    text-align: center;
    height: 66%;
}
.dest-card{
    height: 65%;
    max-height: 150px;
    width: 35%;
    margin: 10px 5px;
    display: inline-block;
}