<h1 mat-dialog-title>Select Destination Cards ({{data.minRequired}})</h1>
<div mat-dialog-content class="dest-cards-container">
  <app-dest-card class="dest-card" *ngFor="let card of cards" [route]="card.card" [selected]="card.selected" (click)="onCardClick(card)"></app-dest-card>
</div>
<div mat-dialog-actions class="action-bar">
  <button mat-raised-button  cdkFocusInitial class="actionbutton select-button" (click)="onSelectClick()" [disabled]="numSelectedCards < data.minRequired" color="primary">Select</button>
</div>
