<h1 mat-dialog-title>Select Destination Cards ({{data.minRequired}})</h1>
<div mat-dialog-content class="dest-cards-container">
  <app-dest-card class="dest-card" *ngFor="let cardPair of cards.cardPairs" [route]="cardPair.card" [selected]="cardPair.selected" (click)="onCardClick(cardPair)"></app-dest-card>
</div>
<div mat-dialog-actions class="action-bar">
  <button mat-raised-button class="actionbutton select-button" (click)="onSelectClick()" [disabled]="!minSelected" color="primary">Select</button>
</div>
