.game-list-card {
    min-height: 80vh;
    padding-bottom: 56px;
}
.game-list-actions{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.game-list-game-card{
    margin: 5px 0;
    width: 100%;
}
.game-player-num{
    position: absolute;
    right: 15px;
}
.name-input{
    margin-right: 80px;
}