
.city-name{
      font-style:italic;
      font-variant:normal;
      font-weight:bold;font-stretch:normal;
      font-size:12px !important;
      line-height:1.25;
      font-family:'Comic Sans MS';
      -inkscape-font-specification:'Comic Sans MS, Bold Italic' !important;
      font-variant-ligatures:normal;
      font-variant-caps:normal;
      font-variant-numeric:normal;
      font-feature-settings:normal;
      text-align:center;
      letter-spacing:0px;
      word-spacing:0px;
      writing-mode:lr-tb;
      text-anchor:middle;
      fill:#fff300;
      fill-opacity:1;
      stroke:#000000;
      stroke-width:0.27395189
      ;stroke-opacity:1;
      
  }

  .scaling-svg {
    position: absolute; 
    width: 100%;
    height: 100%;  
    left:0;
    top:0;
    display:block;
   }
   .soul{
	fill:orange !important;
	stroke:orange !important;
}

.time{
	fill:green !important;
	stroke:green !important;
}

.space{
	fill:blue !important;
	stroke:blue !important;
}

.mind{
	fill:yellow !important;
	stroke:yellow !important;
}

.reality{
	fill:red !important;
	stroke:red !important;
}

.power{
	fill:purple !important;
	stroke:purple !important;
}

.palladium{
	fill:lightsteelblue !important;
	stroke:lightsteelblue !important;
}

.vibranium{
	fill:dimgrey !important;
	stroke:dimgrey !important;
}

.generic{
	fill:silver !important;
	stroke:silver !important;
}

.outer-line{
	fill-opacity: 0.0 !important;
}
.route:hover{
    cursor: pointer;
}
.route:hover .outer-line{
	stroke: #ffd700 !important;
}
.route:hover .shield{
	fill: #ffd700 !important;
}