@import "colors.scss";

 .scaling-svg {
    position: absolute; 
    width: 100%;
    height: 100%;  
    left:0;
    top:0;
    display:block;
   }
.city-name tspan{
      font-style:normal !important;
      font-size:14px !important;
      line-height:1.25;
      font-family: 'Roboto', sans-serif !important;
      stroke-width:.66 !important;
      stroke-opacity:.8;
           
  }
  .shield-number tspan{
    font-family: 'Roboto', sans-serif !important;
    stroke-width:.88 !important;
    font-size:15px !important;
    font-weight:bold !important;
    }

   .soul{
	fill:$soul_color !important;
	stroke:$soul_color !important;
}

.time{
	fill:$time_color !important;
	stroke:$time_color !important;
}

.space{
	fill:$space_color !important;
	stroke:$space_color !important;
}

.mind{
	fill:$mind_color !important;
	stroke:$mind_color !important;
}

.reality{
	fill:$reality_color !important;
	stroke:$reality_color !important;
}

.power{
	fill:$power_color !important;
	stroke:$power_color !important;
}

.palladium{
	fill:$palladium_color !important;
	stroke:$palladium_color !important;
}

.vibranium{
	fill:$vibranium_color !important;
	stroke:$vibranium_color !important;
}

.generic{
	fill:silver !important;
	stroke:silver !important;
}

.outer-line{
	fill-opacity: 0.0 !important;
}
.route:hover{
    cursor: pointer;
}
.route:hover .outer-line{
	stroke: #ffd700 !important;
}
.route:hover .shield{
	fill: #ffd700 !important;
}