
 .scaling-svg {
    position: absolute; 
    width: 100%;
    height: 100%;  
    left:0;
    top:0;
    display:block;
   }
.city-name tspan{
      font-style:normal !important;
      font-size:14px !important;
      line-height:1.25;
      font-family: 'Roboto', sans-serif !important;
      stroke-width:.66 !important;
      stroke-opacity:.8;
           
  }
  .shield-number tspan{
    font-family: 'Roboto', sans-serif !important;
    stroke-width:.88 !important;
    font-size:15px !important;
    font-weight:bold !important;
    }

   .soul{
	fill:orange !important;
	stroke:orange !important;
}

.time{
	fill:green !important;
	stroke:green !important;
}

.space{
	fill:blue !important;
	stroke:blue !important;
}

.mind{
	fill:yellow !important;
	stroke:yellow !important;
}

.reality{
	fill:red !important;
	stroke:red !important;
}

.power{
	fill:purple !important;
	stroke:purple !important;
}

.palladium{
	fill:lightsteelblue !important;
	stroke:lightsteelblue !important;
}

.vibranium{
	fill:dimgrey !important;
	stroke:dimgrey !important;
}

.generic{
	fill:silver !important;
	stroke:silver !important;
}

.outer-line{
	fill-opacity: 0.0 !important;
}
.route:hover{
    cursor: pointer;
}
.route:hover .outer-line{
	stroke: #ffd700 !important;
}
.route:hover .shield{
	fill: #ffd700 !important;
}