.chat-message-card{
    max-width: 100%;
    word-wrap: break-word;
    margin-top: 16px;
}
.chat-box{
    overflow-y: scroll;
}
.my-message{
    margin-left: 20%;
}
.other-message{
    margin-right: 20%;
}
.message-input{
width: 70%;
}