<h1 mat-dialog-title>Claim Route</h1>

<div class="claim-route-header">
  <app-dest-card class="dest-card"  [route]="data.route.toDestCard()" [selected]="false"></app-dest-card>
  <div class="required-shard-indicator">
    <p class="required-shard-text">Requires</p>
    <mat-card matTooltip="{{getTooltip()}}" class="required-shard-card" matBadge="{{data.route.numCars}}">
      <img class="required-shard-icon" src="assets/img/shards/{{getRouteTypeImage()}}">
    </mat-card>
  </div>
</div>

<div mat-dialog-content class="shard-box">
    <div class="shard-cell inline" *ngFor="let cardPair of useableCards.cardPairs">
      <mat-card class="shard-card inline" (click)="onCardClick(cardPair)">
        <img class="shard-icon" src="assets/img/shards/{{cardPair.card.getImage()}}">
        <i class="material-icons check-mark" *ngIf="cardPair.selected">check_circle</i>
      </mat-card>
  </div>
</div>

<div mat-dialog-actions class="action-bar">
  <button mat-raised-button class="actionbutton cancel-button" (click)="onCancelClick()" >Cancel</button>
  <button mat-raised-button class="actionbutton select-button" (click)="onClaimClick()" [disabled]="!claimValid" color="primary">Claim</button>
</div>
