@import "colors.scss";

.claim-route-header{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px $app_border_color solid;
}
.dest-card{
    height: 115px;
    margin: 10px 5px;
}
.required-shard-indicator{
    height: 115px;
    margin: 10px 5px;
}
.required-shard-card{
    height: 70px;   // Subtract margin and padding
    width:  60px;
    padding: 5px;
}
.required-shard-icon{
    height: 60px;
}
.required-shard-text{
    margin-top: 0;
}

.select-button{
    padding-left: 20px;
    padding-right: 20px;
}
.cancel-button{
    padding-left: 20px;
    padding-right: 20px;
}
.action-bar{
    justify-content: flex-end;
}

.shard-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 
.shard-card{
    height: 40px;
    width: 35px;
    padding: 5px;
}
.shard-icon{
    height: 35px;
}
.shard-cell{
    height: 55px;
    width: 60px;
    margin: 12px 5px;
    flex-grow: 0;
}

.check-mark{
    position: absolute;
    right: -11px;
    top: -11px;
    color: #e2d484;
}