<mat-card class="game-info-card">
    <mat-card-header>
      <mat-card-title>
        {{GameName}}
      </mat-card-title>
      <button mat-raised-button class ="actionbutton, game-info-close-button" color="warn">X</button>
    </mat-card-header>
    
    <mat-card-content class="game-info-main">
        <mat-chip-list class="mat-chip-list-stacked game-info-player-list">
          <mat-chip *ngFor="let player of gamePreview.getPlayers()"  class="player-card" [ngStyle]="getPlayerColorStyle(player)" [selectable]="false">
          {{player.getHandle()}} {{player.isReady() ? "Ready" : "Waiting"}}
        </mat-chip>
        <mat-chip (click)="onJoinGame()">
          Join Game
        </mat-chip>
      </mat-chip-list>

      <!-- <app-chat-component></app-chat-component> -->
    </mat-card-content>
  
    <mat-card-actions class="game-info-actions">
        <button mat-raised-button class ="actionbutton,game-info-ready-button" color="accent">Ready</button>
    </mat-card-actions>
  </mat-card>
