.game-info-card{
    min-height: 80vh;
    padding-bottom: 56px;
}
.container{
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sel-game-msg{
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: auto;
}
.game-info-close-button {
    position: absolute;
    right: 20px;
}
.game-info-actions{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.game-info-main{
    padding: 5px;
    margin-top: 16px;
    display: block;
    float: left;
    width: 45%
}
.chat-window{
    width: 45%;
    max-height:100vh;
    display: block;
    float: left;
    padding: 5px;
}
::ng-deep .chat-box{
    max-height: 50vh;
}
.player-card{
    margin: 5px 0;
    padding: 5px;
}
.player-list-card{
    margin: 5px 0;
}
.player-card-info{
    width: 100%;
}
.player-status{
    width: 30px;
}
.player-list-text{
    font-weight: bold;
}
.ready-text{
    font-weight: bold;
    width: 55px;
}
.color-select{
    margin-top: 50px;
    font-weight: bold;
}
