.game-info-card{
    min-height: 80vh;
    padding-bottom: 56px;
}
.game-info-close-button {
    position: absolute;
    right: 20px;
}
.game-info-actions{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.game-info-main{
    padding: 5px;
    margin-top: 16px;
    width: 50%
}
.player-card{
    margin: 5px 0;
}
.player-status{
    position: absolute;
    right: 15px;
    bottom: 16px;
}
.player-list-text{
    font-weight: bold;
}
