.outer {
    width: 100%;
}

.lobby-game-list {
    width: 30%;
    min-height:100vh;
    display: block;
    float: left;
    padding: 5px;
}

.lobby-game-info {
    width: 65%;
    min-height:100vh;
    display: block;
    float: left;
    padding: 5px;
}