<h1 mat-dialog-title>{{player.username}}</h1>
<div class="info-box">
    <img class="avatar" src="assets/img/avatars/{{player.getAvatar()}}">
    <table class="info-table">
        <tr>
            <td class="row-icon"><img class="info-icon" src="assets/img/star-icon.svg"></td>
            <td class="row-label">Points</td>
            <td class="info-data">{{player.points}}</td>
        </tr>
        <tr>
            <td class="row-icon"><img class="info-icon" src="assets/img/shards/shard_circle.svg"></td>
            <td class="row-label">Shard Cards</td>
            <td class="info-data">{{player.numTrainCards}}</td>
        </tr>
        <tr>
            <td class="row-icon">
                <img class="info-icon" src="assets/img/shards/route_map.svg">
            </td>
            <td class="row-label">Destination Cards</td>
            <td class="info-data">{{player.numDestinationCards}}</td>
        </tr>
        <tr>
            <td class="row-icon"><img class="info-icon" src="assets/img/shards/player_shard.svg"></td>
            <td class="row-label">Jump Energy</td>
            <td class="info-data">{{player.numRemainingTrains}}</td>
        </tr>
        <tr>
        <td class="row-icon"><img class="info-icon" src="assets/img/route-icon.svg"></td>
        <td class="row-label">Longest Route Length</td>
        <td class="info-data">
            {{player.longestRouteLength}}
            <i class="material-icons longest-route-icon" matTooltip="Longest Route Leader" *ngIf="player.hasLongestRoute">_emoji_events</i>
        </td>
        </tr>
    </table>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="onOkClick()">Close</button>
</div>
