.row-icon {
    font-weight: bold;
    text-align:right;
    padding-left: 5px;
    padding-right: 10px;
    text-align: center;
}
.info-box{
    display: flex;
    text-align: center;
    align-items: center;
}
.info-icon{
    height: 30px;
}
.avatar{
    height: 150px;
}
.info-table{
    padding-left: 10px;
}
.info-data{
    text-align: left;
}
.row-label{
    text-align: left;
    font-weight: bold;
    padding-right: 5px;
}
.longest-route-icon{
    font-size: inherit;
}