.player-card{
    margin: 5px 0;
    padding: 5px;
}
.player-list-card{
    margin: 5px 0;
}
.player-card-info{
    width: 100%;
}
.player-status{
    width: 30px;
}
.player-list-text{
    font-weight: bold;
}
.player-list-div{
    width: 96%;
    margin: 2%;
    height:100%;
}