<h1 mat-dialog-title>{{player.username}}</h1>
<div class="info-box">
    <img class="avatar" src="assets/img/avatars/mohawk.svg">
    <table>
        <tr>
            <td class="row-label">Points</td>
            <td>{{player.points}}</td>
        </tr>
        <tr>
            <td class="row-label"><img class="info-icon" src="assets/img/shards/shard_circle.svg"></td>
            <td>{{player.numTrainCards}}</td>
        </tr>
        <tr>
            <td class="row-label">
                <img class="info-icon" src="assets/img/shards/route_map.svg">
            </td>
            <td>{{player.numDestinationCards}}</td>
        </tr>
        <tr>
            <td class="row-label"><img class="info-icon" src="assets/img/shards/player_shard.svg"></td>
            <td>{{player.numRemainingTrains}}</td>
        </tr>
        <tr>
        <td class="row-label">Longest Route</td>
            <td>{{player.longestRouteLength}}</td>
        </tr>
    </table>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="onOkClick()">Close</button>
</div>
