.row-label {
    font-weight: bold;
    text-align:right;
}
.info-box{
    display: flex;
    text-align: center;
    vertical-align: middle;
}
.info-icon{
    height: 30px;
}
.avatar{
    height: 150px;
}