<div class="player-list-div">
  <mat-card *ngFor="let player of playerService.players" class="player-card"
    [ngStyle]="getPlayerColorStyle(player)" matBadge={{getPlayerRank(player)}}
     matBadgePosition="before" matBadgeColor="primary" matBadgeSize="medium" (click)="onPlayerClick(player)">
    <div class="player-info-div">
        <div class="player-list-text">
             {{player.username}}
          </div>
          <div class="player-status-text">
            {{player.points}} pts
          </div>
    </div>

  </mat-card>

</div>
