.row-label {
    font-weight: bold;
    text-align:right;
    padding-left: 5px;
    padding-right: 10px;
    text-align: center;
}
.info-box{
    display: flex;
    text-align: center;
    vertical-align: middle;
}
.info-icon{
    height: 30px;
}
.avatar{
    height: 150px;
}
.info-table{
    padding-left: 10px;
}