@import "colors.scss";
@import "~@angular/material/theming";

.points-table{
    width: 100%;
    background-color: mat-color($primaryPalette, 200);
    color: mat-contrast($primaryPalette, 200);
}
.close-button{
    padding-left: 20px;
    padding-right: 20px;
}
.action-bar{
    justify-content: flex-end;
}
