// Global Colors
$soul_color: #ffd738ff;
$power_color: #a046ffff;
$reality_color: #ff4f66ff;
$time_color: #37c551ff;
$mind_color: #ffa95dff;
$vibranium_color: #476081ff;
$space_color: #2093ffff;
$palladium_color: #2fdcffff;

$app_border_color: #e0e0e0;