.cards-gutter{
    height: 100%;
    width: 100%;
}
.cards-box{
    overflow-x: scroll;
    white-space: nowrap;
    height: 100%;
}
.dest-card{
    height: 65%;
    max-height: 150px;
    width: 25%;
    margin: 10px 5px;
    display: inline-block;
}
.shard-card{
    height: 65%;
    max-height: calc(100% - 20px);
    width: 15%;
    margin: 10px 5px;
    display: inline-block;
}
::ng-deep .mat-tab-label{
    height: 30px;
}
::ng-deep mat-tab-header{
    height: 30px;
}
::ng-deep .mat-tab-body-wrapper{
    height: 100%;
}