<mat-tab-group headerPosition="below" class="full-height">
  <mat-tab label="Shard Cards" class="cards-gutter">
    <div class="shard-box full-height">
    <div class="shard-cell inline" *ngFor="let shardType of cardService.playerTrainCards.types"><mat-card class="shard-card inline" matBadge="{{cardService.playerTrainCards.getCountOf(shardType)}}"><img class="shard-icon" src="assets/img/shards/{{getCardImage(shardType)}}"></mat-card>
    </div>
    <div class="shard-dummy-cell"></div>
    <div class="shard-cell inline"><mat-card class="shard-card no-shadow inline" matBadge="{{getRemainingShards()}}">
      <svg
   viewBox="0 0 51.906666 72.639999"
  class="shard-icon shard-count-icon"
   xml:space="preserve"
   id="svg2"
   version="1.1"><g
     transform="matrix(1.3333333,0,0,-1.3333333,-74.356398,260.72133)"
     id="g10"><g
       id="g14"><g
         clip-path="url(#clipPath20)"
         id="g16"><g
           transform="translate(94.6973,195.541)"
           id="g500"><path
             id="bolt-background"
             [ngStyle]="getPlayerColorStyle()"
             style="fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 0,0 h -25.398 l -11.396,-26.783 h 7.494 l -9.63,-27.697 29.672,34.818 h -6.427 z" /></g><g
           id="g504"><g
             id="g506" /><g
             id="g518"><g
               style="opacity:0.10000598"
               id="g516"
               clip-path="url(#clipPath510)"><g
                 id="g514"
                 transform="translate(75.2324,163.9014)"><path
                   id="path512"
                   style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none"
                   d="M 0,0 V 31.64 H -5.934 L -17.329,4.856 h 7.494 l -9.63,-27.697 z" /></g></g></g></g></g></g></g></svg>  
    </mat-card>
    </div>
  </div>
    </mat-tab>

    <mat-tab label="Destination Cards" class="cards-gutter full-width full-height">
      <div class="cards-box full-height">
          <app-dest-card *ngFor="let dest of cardService.playerDestCards.cards" class="dest-card" [route]="dest" [selected]="false"></app-dest-card>
      </div>
    </mat-tab>

</mat-tab-group>