.cards-gutter{
    height: 100%;
    width: 100%;
}
::ng-deep mat-tab-body{
    overflow-x: scroll;
    white-space: nowrap;
}
.dest-card{
    height: 80px;
    width: 160px;
    margin: 10px 5px;
    display: inline-block;
}
.train-card{
    height: 80px;
    width: 60px;
    margin: 10px 5px;
    display: inline-block;
}