.cards-gutter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cards-box{
    overflow-x: scroll;
    white-space: nowrap;
}
.shard-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.dest-card{
    height: calc(100% - 20px - 10px);    // Allow for scroll bar and margin.
    margin: 10px 5px;
    display: inline-block;
}

.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.shard-card{
    height: 40px;
    width: 35px;
    padding: 5px;
}
.shard-icon{
    height: 35px;
}
.shard-count-icon{
    width: 35px 
}
.shard-count{
    margin-left: 15px;
}
.shard-cell{
    height: 55px;
    width: 60px;
    margin: 12px;
    flex-grow: 0;
}
.shard-dummy-cell{
    flex-grow: 3;
}
.inline{
    display: inline-block;
}
.no-shadow{
    box-shadow: none;
}
::ng-deep .mat-tab-label{
    height: 40px;
}
::ng-deep mat-tab-header{
    height: 40px;
}
::ng-deep .mat-tab-body-wrapper{
    height: 100%;
}