<mat-tab-group headerPosition="below" class="full-height">
  <mat-tab label="Shard Cards" class="cards-gutter">
    <div class="shard-box full-height">
    <div class="shard-cell inline" *ngFor="let shardType of cardService.playerTrainCards.types"><mat-card class="shard-card inline" matBadge="{{cardService.playerTrainCards.getCountOf(shardType)}}"><img class="shard-icon" src="assets/img/shards/{{getCardImage(shardType)}}"></mat-card>
    </div>
    <div class="shard-dummy-cell"></div>
    <div class="shard-cell inline"><mat-card class="shard-card inline" matBadge="{{getRemainingShards()}}"><img class="shard-icon" src="assets/img/shards/shard_circle.svg"></mat-card>
    </div>
  </div>
    </mat-tab>

    <mat-tab label="Destination Cards" class="cards-gutter full-width full-height">
      <div class="cards-box full-height">
          <app-dest-card *ngFor="let dest of cardService.playerDestCards.cards" class="dest-card" [route]="dest" [selected]="false"></app-dest-card>
      </div>
    </mat-tab>

</mat-tab-group>