.cards-gutter{
    height: 100%;
    width: 100%;
    overflow-x: scroll;
}
.dest-card{
    height: 100px;
    width: 200px;
    margin: auto 10px;
    display: block;
}
.train-card{
    height: 100px;
    width: 75px;
    margin: auto 10px;
    display: block;
}