<h1 mat-dialog-title>{{data.route.getPrintName()}}</h1>

<div class="route-info-header">
  <mat-card class="required-shard-card info-card rounded">
    <div class="icon-container" matBadge="{{data.route.numCars}}" matBadgeColor="accent">
      <img class="required-shard-icon" src="assets/img/shards/{{getRouteTypeImage()}}">
    </div>
  </mat-card>
  <div class="route-info-text">
    <mat-card class="points-card info-card rounded">
      <p class="route-info-points">{{data.route.getPoints()}} point{{data.route.getPoints() > 1 ? "s" : ""}}</p>
    </mat-card>
    <mat-card class="owner-card info-card rounded">
      <p class="route-info-owner">{{getRouteOwnerName()}}</p>
    </mat-card>
  </div>
</div>



<div mat-dialog-actions class="action-bar">
  <button mat-raised-button class="actionbutton close-button" (click)="onCloseClick()" >Close</button>
  <button mat-raised-button class="actionbutton claim-button" (click)="onClaimClick()" [disabled]="!data.canClaim" color="primary">Claim</button>
</div>
