@import "colors.scss";

.route-info-header{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;    
}
.dest-card{
    height: 115px;
    margin: 10px 5px;
}
.required-shard-indicator{
    height: 115px;
    margin: 10px 5px;
}
.required-shard-card{
    height: 70px;   // Subtract margin and padding
    width:  60px;
    padding: 5px;
}
.required-shard-icon{
    height: 60px;
}
.required-shard-text{
    margin-top: 0;
}

.claim-button{
    padding-left: 20px;
    padding-right: 20px;
}
.close-button{
    padding-left: 20px;
    padding-right: 20px;
}
.action-bar{
    justify-content: flex-end;
}
