<mat-grid-list class="game-panels" cols="4" rowHeight="fit">
  <mat-grid-tile class="player-list-window"><app-player-list class="app-window"></app-player-list></mat-grid-tile>
  <mat-grid-tile class="map-window" [colspan]="3" [rowspan]="2"><app-map class="app-window"></app-map></mat-grid-tile>
  <mat-grid-tile class="chat-window" [rowspan]="2"><app-chat class="chat-window"></app-chat></mat-grid-tile>
  <mat-grid-tile class="gutter-window" [colspan]="2"><app-gutter class="app-window"></app-gutter></mat-grid-tile>
  <mat-grid-tile class="bank-window"><app-bank class="app-window"></app-bank></mat-grid-tile>
</mat-grid-list>