<mat-grid-list class="game-panels" cols="4" rowHeight="fit">
  <mat-grid-tile class="player-list-window"><app-player-list></app-player-list></mat-grid-tile>
  <mat-grid-tile class="map-window" [colspan]="3" [rowspan]="2"><app-map></app-map></mat-grid-tile>
  <mat-grid-tile class="chat-window" [rowspan]="2">Chat Component</mat-grid-tile>
  <mat-grid-tile class="gutter-window" [colspan]="2"><app-gutter></app-gutter></mat-grid-tile>
  <mat-grid-tile class="bank-window"><app-bank></app-bank></mat-grid-tile>
</mat-grid-list>