.game-panels{
    height: 100vh;
}
.player-list-window{
}

.chat-window{
    background: lightpink;
}
.map-window{
    background: lightgreen;
}
.gutter-window{
    background: lightgoldenrodyellow;
}
.bank-window{
    background: lightsteelblue;
}