.game-panels{
    height: 100vh;
}
.player-list-window{
}

.chat-window{
    background: lightpink;
}
::ng-deep .chat-window{
    height: 100%;
    width: 100%;
}
.map-window{
    background: black;
}
.gutter-window{
    // background: lightgoldenrodyellow;
}
.bank-window{
    // background: lightsteelblue;
}
.app-window{
    height: 100%;
    width: 100%;
}

