@import "colors.scss";

.game-panels{
    height: 100vh;
}
.player-list-window{
    border-bottom: 1px $app_border_color solid;
}

.chat-window{
    border-right: 1px $app_border_color solid;
}
::ng-deep .chat-window{
    height: 100%;
    width: 100%;
}
.map-window{
    background: black;
}
.gutter-window{
    // background: lightgoldenrodyellow;
}
.bank-window{
    // background: lightsteelblue;
    border-left: 1px $app_border_color solid;
}
.app-window{
    height: 100%;
    width: 100%;
}
.border-box {
    box-sizing: border-box;
}

