.game-panels{
    height: 100vh;
}
.player-list-window{
    background: lightblue;
}
.chat-window{
    background: lightpink;
}
.map-window{
    background: lightgreen;
}
.gutter-window{
    background: lightgoldenrodyellow;
}
.bank-window{
    background: lightsteelblue;
}
.app-window{
    height: 100%;
    width: 100%;
}