@import "colors.scss";

.card-container {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.scaling-svg {
left:0;
top:0;
height: inherit;
display:block;
margin: auto;
}

.map-box{
    max-height: 65%;
    height: 100%;
    text-align: center;
}
.text-box{
    max-height: 25%;
    width: 150px;
    margin: 0 auto;
}

.shield, .city-name{
    visibility: hidden;
}
.hidden{
    visibility: hidden
}

.outer-line{
	fill:$vibranium_color !important;
	stroke:$vibranium_color !important;
	fill-opacity: 0.0 !important;
}

.dest-card-route-name{
    display: block;
    text-align: center;
    margin: 5px auto;
    font-size: 10pt;
    overflow: hidden;
    text-overflow: ellipsis;
}

.city-spot{
    rx: 30px; 
    ry: 30px
}

.check-mark{
    position: absolute;
    right: 0;
    top: 0;
    color: #e2d484;
}