# This is a basic workflow to help you get started with Actions

name: Build Server Docker Image

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          cd server
          export TAG=$(date +%s)
          echo "New docker image will be jaydenmilne/marylou-server:$TAG"

          docker build . --file Dockerfile --tag jaydenmilne/marylou-server:$TAG --tag jaydenmilne/marylou-server:latest
          docker login -u "${{ secrets.DOCKER_LOGIN }}" -p "${{ secrets.DOCKER_PASSWORD }}"
          docker push jaydenmilne/marylou-server:$TAG 
          docker push jaydenmilne/marylou-server:latest
          
      - name: Extract compiled jar file from Docker image
        run: |
          docker create --name burritos jaydenmilne/marylou-server:latest
          docker cp burritos:/app/marylou.jar marylou.jar
        
      - name: Save artifacts
        uses: actions/upload-artifact@v1
        with:
          name: client-build
          path: ${{runner.temp}}/marylou.jar

      - name: Update :master tag on Docker registry
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        run: |
          docker login -u "${{ secrets.DOCKER_LOGIN }}" -p "${{ secrets.DOCKER_PASSWORD }}"
          docker tag jaydenmilne/marylou-server:latest jaydenmilne/marylou-server:master
          docker push jaydenmilne/marylou-server:master
