name: Build Client Docker Image

on: 
  pull_request:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/gh-pages'
    
    steps:
    - uses: actions/checkout@v1
    - name: Build client Docker image
      run: |
        cd client
        export TAG=$(date +%s)
        echo "New docker image will be jaydenmilne/marylou-client:$TAG"
        
        docker build . --file Dockerfile --tag jaydenmilne/marylou-client:$TAG --tag jaydenmilne/marylou-client:latest
        docker login -u "${{ secrets.DOCKER_LOGIN }}" -p "${{ secrets.DOCKER_PASSWORD }}"
        docker push jaydenmilne/marylou-client:$TAG 
        docker push jaydenmilne/marylou-client:latest
        
    - name: Extract compiled website from Docker image
      run: |
        docker create --name burritos jaydenmilne/marylou-client:latest
        docker cp burritos:/marylou-client.tar.gz ${{runner.temp}}/marylou-client.tar.gz
        
    - name: Save artifacts
      uses: actions/upload-artifact@v1
      with:
        name: client-build
        path: ${{runner.temp}}/marylou-client.tar.gz

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'
    
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v1
        with:
          name: client-build
          path: ${{github.workspace}}
      
      - name: Untar Artifact
        run: |
          tar xvzf ${{github.workspace}}/marylou-client.tar.gz -C ${{github.workspace}}
          echo "ticket2endgame.ga" > ${{github.workspace}}/app/dist/marylou/CNAME
        
      - name: Update gh-pages branch
        with: 
          site-directory: ${{github.workspace}}/app/dist/marylou
          repo-token: ${{secrets.GH_PAT}}
        uses: alex-page/blazing-fast-gh-pages-deploy@v1.1.0
        
      - name: Update :master tag on Docker registry
        run: |
          docker login -u "${{ secrets.DOCKER_LOGIN }}" -p "${{ secrets.DOCKER_PASSWORD }}"
          docket tag jaydenmilne/marylou-client:latest jaydenmilne/marylou-client:master
          docker push jaydenmilne/marylou-client:master
        
