name: Build Client Docker Image

on: [pull_request]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build the Docker image for the client
      run: |
        cd client
        export TAG=$(date +%s)
        docker build . --file Dockerfile --tag jaydenmilne/ticket2endgame-client:$TAG
        docker login -u "${{ secrets.DOCKER_LOGIN }}" -p "${{ secrets.DOCKER_PASSWORD }}"
        docker push jaydenmilne/ticket2endgame-client:$TAG 
